* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 80px;
}

.navbar {
  background: white !important;
}

p {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-content: center;
}

.historia {
  width: 50%;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #683C11;
  margin: 100px;
}

.ubicacion {
  font-family: "Roboto", sans-serif;
  color: #683C11;
  margin: 10px;
}

.novedades p {
  color: white;
}

.novedades h3 {
  color: white;
}

.text_cafe {
  width: 50%;
  font-size: x-large;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #683C11;
  width: 100%;
  margin: 3%;
}

.text_desayunos {
  font-size: x-large;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #683C11;
  width: 100%;
  margin: 3%;
}

.text_tortas {
  width: 50%;
  font-size: x-large;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #683C11;
  width: 100%;
  margin: 3%;
}

#imagen_index {
  width: 100%;
  opacity: 80%;
}

.img_novedades {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#takeaway {
  width: 30%;
}

#outside {
  width: 30%;
}

#beans {
  width: 30%;
}

.novedades {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #683C11;
  font-size: x-large;
  margin-bottom: 70px;
  margin-top: 70px;
  height: 100px;
  display: list-item;
}

h1 {
  color: #683C11;
  display: flex;
  justify-content: center;
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.menu h2 {
  margin: 10px 0 10px 0;
}

.contenedor_historia {
  display: flex;
  font-size: x-large;
  margin-bottom: 100px;
}

#img_historia {
  width: 70%;
}

.img_historia {
  width: 50%;
  margin: 10px;
}

.mapa {
  margin: 10px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #683C11;
}

.menu h2 {
  margin: 10px 0 10px 0;
}

.cafes {
  display: flex;
  margin: 10px 0 10px 0;
}

#img_cafe {
  width: 70%;
}

.desayunos {
  display: flex;
  margin: 10px 0 10px 0;
}

.img.cafe {
  width: 30%;
  background-color: #683C11;
}

#img_desayuno {
  width: 70%;
}

.tortas {
  display: flex;
  margin: 10px 0 10px 0;
}

#img_torta {
  width: 70%;
}

.mb-8 {
  width: 40%;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 80px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 9vh;
  margin-top: 2%;
}

@media screen and (max-width: 360px) {
  #img_historia {
    visibility: hidden;
    width: 0%;
  }
  .contenedor_historia {
    display: block;
    margin: 0;
  }
  .historia {
    margin-left: 20px;
    width: 90%;
    color: #683C11;
    font-size: x-large;
    align-items: center;
    justify-content: center;
  }
  #img_cafe {
    visibility: hidden;
    display: none;
  }
  .text_cafe {
    width: 100%;
    font-size: large;
  }
  #img_desayuno {
    visibility: hidden;
    display: none;
  }
  .text_desayunos {
    width: 100%;
    font-size: large;
  }
  #img_torta {
    visibility: hidden;
    display: none;
  }
  .text_tortas {
    width: 100%;
    font-size: large;
  }
  .mb-8 {
    width: 90%;
  }
  .novedades p {
    font-size: medium;
  }
  .mapa {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-bottom: 50px;
  }
  .mapa iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}/*# sourceMappingURL=style.css.map */