.menu h2 {
    margin: 10px 0 10px 0;
}

.cafes {
    display: flex;
    margin: 10px 0 10px 0;
}


#img_cafe {
    width: 70%;
}

.desayunos {
    display: flex;
    margin: 10px 0 10px 0
}


.img.cafe {
    width: 30%;
    background-color: $color-primario;
}

#img_desayuno {
    width: 70%;
}

.tortas {
    display: flex;
    margin: 10px 0 10px 0
}


#img_torta {
    width: 70%;
}
