@media screen and (max-width: 375px) {


    .img_novedades {
        display: block;
    }

    #takeaway {
        display: block;
        margin-top: 30px;
        margin-left: 50px;
        width: 70%;
        ;

    }

    #outside {
        display: block;
        margin-top: 30px;
        margin-left: 50px;
        width: 70%;
    }

    #beans {
        display: block;
        margin-top: 30px;
        margin-left: 50px;
        width: 70%;

    }

    #img_historia {
        display: block;
        margin-left: 35px;
        width: 150%;
    }

    .contenedor_historia {
        display: block;
        margin: 0;
    }

    .historia {
        margin-left: 20px;
        width: 90%;
        color: $color-primario;
        font-size: x-large;
        align-items: center;
        justify-content: center;
    }

    .cafes {
        display: block;

    }

    .text_cafe {
        width: 100%;
        font-size: large;
        display: block;
    }

    #img_cafe {
        display: block;
        margin-top: 30px;
        margin-left: 50px;
    }

    .desayunos {
        display: block;
    }

    #img_desayuno {
        display: block;
        margin-top: 30px;
        margin-left: 50px;
    }

    .text_desayunos {
        width: 100%;
        font-size: large;
        display: block;
    }

    .tortas {
        display: block;
    }

    #img_torta {
        display: block;
        margin-top: 30px;
        margin-left: 50px;
    }

    .text_tortas {
        width: 100%;
        font-size: large;
        display: block;
    }

    .mb-8 {

        width: 90%;
    }

    .novedades {
        p {
            font-size: medium;
        }
    }

    .mapa {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
        margin-bottom: 50px;
    }

    .mapa iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

}